<div id="primarynav" class="menu-%d0%bc%d0%b5%d0%bd%d1%8e-container">
    <ul id="menu-%d0%bc%d0%b5%d0%bd%d1%8e" class="menu">
        <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-28">
            <a href="#">Главная</a></li>
        <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20">
            <a href="#">Компьютерное зрение</a></li>
        <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
            <a href="#">Скачать</a></li>
    </ul>
</div>
