{% extends "mainApp/wrapper.html" %}

{% block content %}

<div class="container">
    <h4 align="left"> Главная</h4>
        <p><b>Здравствуйте! Меня зовут Никита и вы попали на мой сайт.</b></p>
        <p><b>Здесь вы сможете найти информацию о том, как работает Computer Vision. Вкратце эта технология позволяет находить какие-либо объекты на фотографиях, картинках или видео. Я считаю эту технологию одной из самых важных в IT сфере, потому что она приносит много пользы обычным людям.</b> </p>
<p><b>Компьютерное зрение используется в следующих областях:
</b></p>
<li><b>Крупное промышленное производство</b></li>
<li><b>Системы безопасности в промышленных условиях</b></li>
<li><b>Контроль предварительно изготовленных объектов (например, контроль качества, исследование допущенных ошибок)</b></li>
<li><b>Системы визуального контроля и управления (учет, считывание штрих-кодов)</b></li>
        <p><b>И многое другое</b></p>
        <p><b>В ближайшем будущем я планирую создать программу, которая будет искать славянские руны на фотографиях.</b></p>
    </div>
{% endblock %}
