<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Главная</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
        <div class="container">
           <a href="/" class="brand-logo">ComputerVision</a>
           <a href="/" data-activates="mobile-demo" class="button-collapse"> <i class="material-icons">menu</i></a>
           <ul class="right hide-on-med-and-down">
               <li><a href="/">Главная</a></li>
               <li><a href="/computer_vision/">Компьютерное зрение</a></li>
               <li><a href="#">Инфо </a></li>
           </ul>
            <ul class="side-nav" id="mobile-demo">
               <li><a href="/">Главная</a></li>
               <li><a href="/computer_vision/">Компьютерное зрение</a></li>
               <li><a href="#">Инфо</a></li>
           </ul>
        </div>
        </div>
    </nav>
    </div>



<main>
        {% block content %}

        {% endblock %}


</main>


    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">ComputerVision</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Главная</a></li>
                  <li><a class="grey-text text-lighten-3" href="/computer_vision/">Компьютерное зрение</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Инфо</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 ComputerVision
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
      $( document ).ready(function () {
      $(".button-collapse"). sideNav();
      })
    </script>
</body>
</html>
